<h1 style="border-bottom:solid;">Enroll a New User!</h1>
<br>

<form method="POST" action="/users">
    <label>Name:</label>
    <input type="string" name="name"><br><br>
    <label>Username:</label>
    <input type="string" name="username"><br><br>
    <label>Password:</label>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Enroll">
</form>
<br>
<h6 style="color:black;"><a href="/">Back</a></h6>