<h1 style="border-bottom:solid;">Enroll a New User!</h1>
<br>
<% if flash[:error] %>
<h5 style="color:red;"><em><%= flash[:error] %></h6></em>
<br>
<%end%>
<form method="POST" action="/users">
    <label>Name:</label>
    <input type="string" name="name"><br><br>
    <label>Username:</label>
    <input type="string" name="username"><br><br>
    <label>Password:</label>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Enroll">
</form>
<br><br>
<a href="/" style="color:black; float:left">Back</a>