<header><img src="images/grey_sloan_logo.png"></header>
<br>


<h2><center>Log in to Health Information Systems</center></h2>

<center>
<% if flash[:error] %>
<h5 style="color:red;"><em><%= flash[:error] %></h6></em>
<br>
<%end%>
  <form method="POST" action="/login"> 
    <label>Username: </label>
    <input type="text" name="username" id="username">
    <br><br>
    <label>Password: </label>
    <input type="password" name="password" id="password">
    <br><br>
    <input type="submit" value="Log In">
  </form>
</center>
<br><br>
<h5><a href="/enroll" style="color:black; float:left">Enroll a New User</a></h5>