<h1 style="border-bottom:solid;">Welcome, <%="#{@user.name}"%>!</h1>
<br><br>
<center><img src="images/heroes.png"></center>
<br>
<h3 style="color:black;"><a href="/user/<%=@user.id%>/doctors">Providers</a></h3>
<br><br>
<a href="/user/<%=@user.id%>/edit" style="color:black; float:left;">Update My Information</a>