<h1 style="border-bottom:solid;">Dr. <%=@doctor.name%>'s Patients.</h1>
<br>
<ul><%@patients.each do |patient|%>
    <a href="/patients/<%="#{patient.id}"%>"><li><%=patient.name%></li></a><br>
<%end%></ul>